body {
  font-family: sans-serif;
  background: url(../img/image.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.canvas {
  width: 700px;
  height: 650px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls .controls_btns {
  margin-bottom: 50px;
}
.controls_btns button {
  margin-top: 20px;
  all: unset;
  cursor: pointer;
  padding: 6px 0;
  width: 150px;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
}
.controls_btns button:active {
  transform: scale(0.98);
}
.controls .controls_elements {
  display: flex;
}
.controls_elements .controls_element {
  cursor: pointer;
}
.controls_element {
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}
a:hover {
  font-size: 23px;
  color: #6c5ce7;
}
.hello {
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease-out;
}
.hello:hover {
  color: #6c5ce7;
  cursor: pointer;
}
